<div class="fullScreenContainer">
	<div class="col-lg-6 center" style="width:300px;">
	    <div class="input-group">
	      <input type="password" id="moderateField" style="font-size:20px;" class="form-control" placeholder="Wachtwoord">
	      <span class="input-group-btn">
	        <button class="btn btn-primary" ng-click="login()" type="button">Go!</button>
	      </span>
    	</div><!-- /input-group -->
	</div><!-- /.col-lg-6 -->
</div>

<script type="text/javascript">
	$(document).ready(function(){
		center(".center");
	});
	$(window).resize(function(){
		center(".center");
	});
</script>