<cards>
    <card ng-repeat="quote in quotes | filter: {'state': 'pending'}">
        <div class="btn-group" style="width:100%;" role="group" aria-label="moderate">
          <div style="text-align: center;">
            <button ng-click="accept(quote)" type="button" style="margin-right: 8px;" class="btn btn-primary">Accepteer</button>
            <button ng-click="decline(quote)" type="button" class="btn btn-danger">Weiger</button>
          </div>
        </div>
    </card>
    <div ng-show="(quotes | filter: {'state': 'pending'}).length == 0" class="center noMore">
        <div style="z-index: 100; width:336px; height:52px;" class="alert alert-info" role="alert">
            Er zijn nog geen quotes meer om te moderaten!
        </div>
    </div>
</cards>
<modnav></modnav>

<script type="text/javascript">
    $(document).ready(function(){
        center(".center");
    });
    $(window).resize(function(){
        center(".center");
    });
</script>