/* ---- grid ---- */

.grid {
  max-width: 2000px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 260px;
  height: auto;
  margin: 12.5px;
  border-color: hsla(0, 0%, 0%, 0.7);
}


.thumbnail {
	padding:0;
}

.card-image {
	height: auto;
	overflow:hidden;
}