.titleLeftUpperCorner {
	text-align: left;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	width: 200px;
	height: 50px;
}

.tabBarButton {
	cursor: pointer; 
}

.pacifico {
	font-family: Pacifico;
}

.float-left {
	float: left;
}

.erik {
	margin: auto;
}

.bigText {
	font-size:20px;
}

.navPillNormal {
	background-color: white;
}

.myNavBar {
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:48px;
	text-align: center;
	z-index:1;
}

.noMore {
	text-align:center;
	z-index: 99;
}

#navBlock {
	left:50%;
}