<div class="">
<h1>Isotope - fitColumns layout mode</h1>

<div class="center grid">
  	<div class="grid-item thumbnail">
          <img src="http://placehold.it/260x130/EEE" style="height: 130px; overflow:auto;">
              <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>

            </div>
	</div>
	<div class="grid-item thumbnail">
          <img src="http://placehold.it/260x130/EEE" style="height: 130px; overflow:auto;">
              <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. ipit Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
              
            </div>
	</div>
	<div class="grid-item thumbnail">
          <img src="http://placehold.it/260x130/EEE" style="height: 130px; overflow:auto;">
              <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                
            </div>
	</div>
	<div class="grid-item thumbnail">
          <img src="http://placehold.it/260x130/EEE" style="height: 130px; overflow:auto;">
              <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                
            </div>
	</div>
	<div class="grid-item thumbnail">
          <img src="http://placehold.it/260x130/EEE" style="height: 130px; overflow:auto;">
              <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
               
            </div>
	</div>
	<div class="grid-item thumbnail">
          <img src="http://placehold.it/260x130/EEE" style="height: 130px; overflow:auto;">
              <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                
            </div>
	</div>
	<div class="grid-item thumbnail">
          <img src="http://placehold.it/260x130/EEE" style="height: 130px; overflow:auto;">
              <div class="caption ">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                
            </div>
	</div>
	<div class="grid-item thumbnail">
          <img src="http://placehold.it/260x130/EEE" style="height: 130px; overflow:auto;">
              <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                
            </div>
	</div>

</div>
</div>
