<div class="inputContainer" style="height: 100%;">
	<div class="inputCenter center">
		<form style="height: 100%;">
		  <div id="nameFormGroup" class="form-group">
		    <input id="nameInput" type="text" class="form-control input-lg myInput frutiger" placeholder='Voor en achternaam' ng-model="name" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
		  </div>
		  <!-- Single button -->
		<div class="btn-group" style="width:100%;">
		  <button style="width:25%;" id="academieButton" class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    {{academie.name}} <span class="caret"></span>
		  </button>
		  <div id="academieAlert" class="alert alert-danger" role="alert">Academie moet gekozen worden!</div>
		  <ul class="dropdown-menu" style="margin-top: -10px;">
		    <li><a>{{academieInertObject.name}}</a></li>
		    <li role="separator" class="divider"></li>
		    <li ng-repeat="academie in academies"><a ng-click="choseAcademie(academie)">{{academie.name}}</a></li>
		  </ul>
		</div>
		  <div id="titleFormGroup" style="margin-top: 10px;" class="form-group">
		    <input id="titleInput" ng-model="title" type="text" class="form-control input-lg myInput frutiger avansRood" placeholder='Titel, bijvoorbeeld "Dag Avans!"' autocomplete="off" autocorrect="off" autocapitalize="off" style="text-transform:uppercase" spellcheck="false">
		  </div>
		  <div id="quoteFormGroup" class="form-group" style="height: 50%;">
		    <textarea id="quoteInput" ng-model="quote" type="text" class="form-control bigTextInput myInput verdana" placeholder="Je wens, bericht, anekdote of groet." autocomplete="off" ng-keyup="countChar()" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
		    <br /><span style="font-size:20px;" id="charNum" class="label label-primary">200</span>
		  </div>
		  <div class="form-group ">
		  	<button type="button" ng-click="ticButtonClick()" class="btn btn-primary btn-lg roundInputButton">
			  <span class="glyphicon glyphicon-ok imageButtonGlyph" aria-hidden="true"></span>
			</button>
			<button type="button" class="fileUpload btn btn-primary btn-lg roundInputButton">
				<span class="glyphicon glyphicon-camera imageButtonGlyph" aria-hidden="true"></span>
			    <input id="uploadBtn" style="width:100%; height: 100%;" type="file" accept="image/*" class="upload" />
			</button>
			<img style="float: right; display: none;" id="chooseFileImage" src="#"/>
		  </div>
		</form>
	</div>

	<div class="avansLogo">
		<img class="avansLogoImage" src="img/avans_logo.png">
	</div>
</div>

<script type="text/javascript">
	document.getElementById("uploadBtn").onchange = function () {
	      if (this.files && this.files[0]) {
		    var reader = new FileReader();
		    reader.onload = function (e) {
		    	console.log(e.target.result);
		      $('#chooseFileImage')
		        .attr('src', e.target.result)
		        .width("30%")
		        .height("auto")
		        .show();
		    };
		    reader.readAsDataURL(this.files[0]);
		  }
	};

	$(document).ready(function(){
    	center(".center");
  	});

	function centerSweetAlert(buttonMargin){
		var windowHeight = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
		var height = $(".sweet-alert").height() + 34;
		var offset = (windowHeight / 2) - (height / 2);
		$(".sweet-alert").css("margin-top", "0px");
		$(".sweet-alert").css("position", "absolute");
		if(buttonMargin){
			$(".cancel").css("margin-top", "0px");
			$(".confirm").css("margin-top", "0px");
			$(".sweet-alert").css("top", ( offset + 13 ) + "px");
		} else {
			$(".cancel").css("margin-top", "26px");
			$(".confirm").css("margin-top", "26px");
			$(".sweet-alert").css("top", offset + "px");
		}
	}

  	$(window).resize(function(){
    	center(".center");
  	});

	$(".myInput").focus(function(){

	}).blur(function(){
		document.activeElement.blur();
	});
</script>

