<div class="inputContainer center" style="height: 100%;">
	<div class="inputCenter">
		<form style="height: 100%;">
		  <div id="nameFormGroup" class="form-group">
		    <input id="nameInput" type="text" class="form-control input-lg myInput" placeholder='Voor en achternaam' ng-model="name">
		  </div>
		  <!-- Single button -->
		<div class="btn-group" style="width:100%;">
		  <button style="width:25%;" id="educationButton" class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    {{education.name}} <span class="caret"></span>
		  </button>
		  <div id="educationAlert" class="alert alert-danger" role="alert">Opleiding moet gekozen worden!</div>
		  <ul class="dropdown-menu" style="margin-top: -10px;">
		    <li><a>{{educationInertObject.name}}</a></li>
		    <li role="separator" class="divider"></li>
		    <li ng-repeat="education in educations"><a ng-click="choseEducation(education)">{{education.name}}</a></li>
		  </ul>
		</div>
		  <div id="titleFormGroup" style="margin-top: 10px;" class="form-group">
		    <input id="titleInput" ng-model="title" type="text" class="form-control input-lg myInput" placeholder='Titel, bijvoorbeeld "Dag Avans!"'>
		  </div>
		  <div id="quoteFormGroup" class="form-group" style="height: 50%;">
		    <textarea id="quoteInput" ng-model="quote" type="text" class="form-control bigTextInput myInput" placeholder="Je wens, bericht, anekdote of groet."></textarea>
		  </div>
		  <div class="form-group ">
		  	<button type="button" ng-click="ticButtonClick()" class="btn btn-default btn-lg roundInputButton">
			  <span class="glyphicon glyphicon-ok imageButtonGlyph" aria-hidden="true"></span>
			</button>
			<button type="button" class="fileUpload btn btn-default btn-lg roundInputButton">
				<span class="glyphicon glyphicon-camera imageButtonGlyph" aria-hidden="true"></span>
			    <input id="uploadBtn" style="width:100%; height: 100%;" type="file" accept="image/*" class="upload" />
			</button>
			<img style="float: right; display: none;" id="chooseFileImage" src="#"/>
		  </div>
		</form>
	</div>

	<div class="avansLogo">
		<img class="avansLogoImage" src="img/avans_logo.png">
	</div>
</div>

<script type="text/javascript">
	document.getElementById("uploadBtn").onchange = function () {
	      if (this.files && this.files[0]) {
		    var reader = new FileReader();
		    reader.onload = function (e) {
		    	console.log(e.target.result);
		      $('#chooseFileImage')
		        .attr('src', e.target.result)
		        .width("30%")
		        .height("auto")
		        .show();
		    };
		    reader.readAsDataURL(this.files[0]);
		  }
	};

	$(".myInput").focus(function(){

	}).blur(function(){
		document.activeElement.blur();
	});
</script>

