<div class="myNavBar">
	<div style="margin: auto; width: 230px;">
		<ul id="navBlock" class="nav nav-pills">
			<li role="presentation" class="{{activeState == 'moderate.authenticated' ? 'active tabBarButton': 'tabBarButton navPillNormal'}}">
				<a class="pacifico bigText" ng-click="goToModerate()">Moderate</a>
			</li>
			<li role="presentation" style="margin-left:0px;" class="{{activeState == 'moderate.recover' ? 'active tabBarButton': 'tabBarButton navPillNormal'}}">
				<a class="pacifico bigText" ng-click="goToRecover()">Herstellen</a>
			</li>
		</ul>
	</div>
</div>